extends layout

block content
  .row
    .col-4
      .border.border-secondary.rounded.p-3.bg-dark
        h1.display-1 Should You <b>Ride</b>?
        hr
        h1.display-6.text-info Stupid question, YES!
        p Seriously though, before you ride you should consider not only the risks, 
          | but also the remarks to being a safe and confident rider while being on the public road. 
          | Well this website provides a solution to riders that want to know if they should ride today 
          | (based on weather & traffic statistics for your location).
          br
        hr
        h2 If you have any questions, concerns, or suggestions, please 
          a(href="contactus").text-warning Click Here
        br
        a(href="https://www.buymeacoffee.com/yovez")
          img(src="https://img.buymeacoffee.com/button-api/?text=Buy me a Pizza :)&emoji=🍕&slug=yovez&button_colour=40DCA5&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00")
    if weather
      .col-4
        .weather.border.border-warning.rounded.p-3.bg-darker
          h1.title Current Weather: 
          h2.text-secondary#time
          script.
            var time = new Date().toLocaleString('en-US', {timeZone: weather.timezone});
            document.getElementById('time').innerHTML = time;
          h2.capitalize #{weather.current.weather[0].description}
          - var temp = weather.current.temp;
          if temp <= 36
            h2.temp-freezing Temp: #{temp}°F (Freezing)
          else if temp >= 36 && temp <= 50
            h2.temp-cold Temp: #{temp}°F (Cold)
          else if temp >= 50 && temp <= 60
            h2.temp-lukewarm Temp: #{temp}°F (Luke-Warm)
          else if temp >= 60 && temp <= 80
            h2.temp-warm Temp: #{temp}°F (Warm)
          else if temp >= 80 && temp <= 95
            h2.temp-hot Temp: #{temp}°F (Hot)
          else if temp >= 95
            h2.temp-scorching Temp: #{temp}°F (Scorching)
          h3.color-red Feels like: #{weather.current.feels_like}°F
          h3 Humidity: #{weather.current.humidity}%
          -
            function degToCard(value) {
              value = parseFloat(value); if (value <= 11.25) return 'N'; value -= 11.25; 
              var allDirections = ['NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW', 'N']; 
              var dIndex = parseInt(value/22.5); 
              return allDirections[dIndex] ? allDirections[dIndex] : 'N'; 
            }
          h4 Wind Blowing: #{weather.current.wind_speed} mph #{degToCard(weather.current.wind_deg)}
          -
            var date = new Date(Math.round(weather.current.sunset) * 1000).toLocaleString('en-US', {timeZone: weather.timezone});
            var string = date.substr(date.lastIndexOf(",") + 1);
          h3 The sun sets at #{string}
        .border.border-danger.my-3.p-3.rounded.bg-darker
          h1 Wind Chill Chart
          h6.text-secondary A useful chart to calculate the wind chill relation to the temperature outside and how fast you're going
          table.table.table-secondary.table-hover
            thead
              th(scope="col") MPH
              each temp in [30, 35, 40, 45, 50, 55, 60]
                th(scope="col") #{temp}°F
            tbody
              each speed in [25, 35, 45, 50, 55, 60, 70, 80, 90, 100, 120]
                tr
                  th(scope="row") #{speed}
                  each temp in [30, 35, 40, 45, 50, 55, 60]
                    td #{Math.round(35.74 + (0.6215 * temp) - 35.75 * (Math.pow(speed, 0.16)) + (0.4275 * temp * (Math.pow(speed, 0.16))))}°F
      .col-4
        .weather.border.border-info.rounded.p-3.bg-darker
          h1 Next 12 hours
          h4.text-secondary (Hover them for more info)
          - var counter = 0;
          -
            function degToCard(value) {
              value = parseFloat(value); if (value <= 11.25) return 'N'; value -= 11.25; 
              var allDirections = ['NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW', 'N']; 
              var dIndex = parseInt(value/22.5); 
              return allDirections[dIndex] ? allDirections[dIndex] : 'N'; 
            }
          each item in weather.hourly
            if counter < 12
              - var time = new Date(Math.round(item.dt) * 1000).toLocaleString('en-US', {timeZone: weather.timezone}).substr(10, 11);
              h2.display-6.hourly(data-bs-toggle="tooltip" data-bs-placement="right" title="Feels Like: " + item.feels_like + "°F\nHumidity: " + item.humidity + "%\nWind Blowing: " + item.wind_speed + " mph " + degToCard(item.wind_deg) + "\nRain: " + item.pop + "%") At #{time} it'll be #{item.temp}°F
              - counter++;
        .border.border-danger.my-3.p-3.rounded.bg-darker.traffic
          h1 Traffic Conditions
          span.text-secondary A traffic heat map for your current area
          br
          br
          #map
          - var lat = weather.lat;
          - var lon = weather.lon;
          script.
            function initMap() {
              const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 13,
                center: { lat: #{lat}, lng: #{lon} },
                mapTypeControl: true,
                mapTypeControlOptions: {
                  style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                },
                streetViewControl: true,
                streetViewControlOptions: {
                  position: google.maps.ControlPosition.LEFT_BOTTOM,
                }
              });
              const trafficLayer = new google.maps.TrafficLayer();
              trafficLayer.setMap(map);
            }
    else
      h3.text-warning= message
    if error
      h3.text-warning= error
