extends layout

block content
    -
        function degToCard(value) {
            value = parseFloat(value); if (value <= 11.25) return 'N'; value -= 11.25; 
            var allDirections = ['NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW', 'N']; 
            var dIndex = parseInt(value/22.5); 
            return allDirections[dIndex] ? allDirections[dIndex] : 'N'; 
        }
    if error
        .alert.alert-danger(role="alert") #{error}
    else
        .row
            if weather.alerts.alert[0]
                .col-sm-auto.mx-auto.justify-content-center.animate__animated.animate__backInDown
                    each alert in weather.alerts.alert
                        .alert.alert-danger(role="alert") #{alert.headline}
            .col-sm-auto.weather.weather-box.border.border-warning.rounded.p-3.bg-darker.animate__animated.animate__backInLeft
                h1.display-5 Weather Forecast for #{weather.location.name.replace("Heights", "")}
                h2.display-6.capitalize
                    img(src=weather.current.condition.icon)
                    | #{weather.current.condition.text}
                - var temp = weather.current.temp_f;
                h1.display-6
                    +tempColor(temp)  #{temp}°F (Feels: #{weather.current.feelslike_f}°F)
                h3.display-6
                    +icon("bi-cloud-rain")
                    |  Rain: #{weather.forecast.forecastday[0].day.daily_chance_of_rain}%
                h3.display-6 
                    +icon("bi-moisture")
                    |  #{weather.forecast.forecastday[0].day.avghumidity}% Humidity
                h4.display-6 
                    +icon("bi-wind")
                    |  #{weather.forecast.forecastday[0].hour[0].wind_mph} mph #{weather.forecast.forecastday[0].hour[0].wind_dir}
                h3.display-6 
                    +icon("bi-sunset")
                    |  Sunset: #{weather.forecast.forecastday[0].astro.sunset}
                .pt-3
                    - var counter = 0;
                    .overflow-auto.d-flex.align-items-start
                        each hour in weather.forecast.forecastday[0].hour
                            if counter === 0
                                - counter++;
                            else if counter < 13
                                - var time = new Date(Math.round(hour.time_epoch) * 1000).toLocaleString('en-US', {timeZone: weather.location.tz_id, timeStyle: "short"});
                                button.btn.btn-disabled(type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rain: " + hour.chance_of_rain + "%\nWind: " + hour.wind_mph + " mph " + hour.wind_dir + "\nHumidity: " + hour.humidity + "%").px-3
                                    .fs-6 #{time}
                                    img(src=hour.condition.icon)
                                    .fs-6 #{hour.temp_f}°F
                                - counter++;
            .border.border-danger.my-3.p-3.rounded.bg-darker.traffic
                h1 Traffic Conditions
                span.text-secondary A traffic heat map for your current area
                br
                br
                #map
                - var lat = weather.location.lat;
                - var lon = weather.location.lon;
                script.
                    function initMap() {
                        const map = new google.maps.Map(document.getElementById("map"), {
                            zoom: 13,
                            center: { lat: #{lat}, lng: #{lon} },
                            mapTypeControl: true,
                            mapTypeControlOptions: {
                                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                            },
                            streetViewControl: true,
                            streetViewControlOptions: {
                                position: google.maps.ControlPosition.LEFT_BOTTOM,
                            }
                        });
                        const trafficLayer = new google.maps.TrafficLayer();
                        trafficLayer.setMap(map);
                    }
        include windChillChart.pug